<div class="nav-items">
    @foreach (var item in Model)
    {
        @if (item.IsPage)
        {
            <a class=@item.Active asp-area="@item.Area" asp-page="@item.Page">
                @item.Text
            </a>
        }
        else
        {
            <a class=@item.Active asp-controller="@item.Controller" asp-action="@item.Action">
                @item.Text
            </a>
        }
    }
</div>