@model ListViewModel<Car>

@{
    ViewBag.Title = "Product";
    Layout = "_Layout";
}
@{
    var categories = ViewData["Groups"] as IEnumerable<CarGroup>;
    var currentGroup = (Guid)ViewData["CurrentGroup"];

    var first = categories!.FirstOrDefault(g => g.CarGroupId == currentGroup);
    var currentCategory = currentGroup != Guid.Empty ?
        first?.GroupName
        : "All";
}

<div class="scaffold">
    <div class="row">
        <div class="col-2">
            <div class="dropdown-2 mt-2">
                <div class="dropbtn-2">
                    <a class="btn btn-outline-info dropdown-toggle"
                       asp-action="Index" asp-controller="Product"
                       role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        @currentCategory
                    </a>
                </div>

                <div class="dropdown-content-2" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item"
                       asp-action="Index"
                       asp-controller="Product">
                        All
                    </a>

                    @foreach (var category in categories)
                    {
                        <a class="dropdown-item" asp-action="Index" asp-controller="Product"
                           asp-route-group="@category.CarGroupId" asp-route-pageNo="1">
                            @category.GroupName
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="card-group" id="carsList">
                <partial name="_ListPartial" model="@Model"/>
            </div>
            <pager page-current="@Model.CurrentPage"
                   page-total="@Model.TotalPages"
                   action="Index"
                   controller="Product"
                   group-id="@currentGroup">
            </pager>
            <div>

            </div>
        </div>
    </div>
</div>